.barWrapper {
  margin: 0 auto;
  max-width: 410px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.354);
  border-radius: 3px;
  padding: 4px 5px 3px 4px;
  -webkit-box-shadow: 0px 9px 5px -5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 9px 5px -5px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 9px 9px -5px rgba(0, 0, 0, 0.46);
}

.appIcon:hover,
.userIcon:hover,
.logInIcon:hover {
  color: rgb(214, 90, 46);
}

.title {
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  animation: rotate 500ms linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #000000;
  animation: prixClipFix 1.5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
