.barWrapper {
  margin: 0 auto;
  max-width: 410px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.354);
  border-radius: 3px;
  padding: 4px 5px 3px 4px;
  -webkit-box-shadow: 0px 9px 5px -5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 9px 5px -5px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 9px 9px -5px rgba(0, 0, 0, 0.46);
}
.homeLink {
  width: 0;
}
.appIcon {
  width: 30px;
  height: 30px;
  color: black;
}

.appIcon:hover,
.userIcon:hover,
.logInIcon:hover {
  color: rgb(214, 90, 46);
}

.title {
  font-size: 24px;
  text-align: center;
  margin: 0;
}
