.searchBoxWrapper {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.searchBarLabel {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

.searchBarInput {
  border-radius: 4px;
  border: 1px solid black;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  padding: 4px;
}
