.contactWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.354);
  border-radius: 3px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 270px;
}

.contactText {
  display: flex;
  gap: 6px;
}

.contactIcon {
  color: black;
  width: 19px;
  height: 19px;
}
.phoneIcon {
  color: black;
  width: 19px;
  height: 17px;
}
.phoneLink {
  text-decoration: none;
  color: black;
}

.editBtn {
  height: 30px;
  border: none;
  background: transparent;
}
.editIcon {
  color: black;
  width: 22px;
  height: 22px;
}
