.modalBtn {
  border: none;
  background: transparent;
  padding: 0;
  margin-left: 34px;
}
.userIcon {
  width: 30px;
  height: 30px;
  color: black;
}
.userIcon:hover {
  color: rgb(214, 90, 46);
}
